object{
    display: none;
}



@media only screen and (min-width: 601px) {
   .full{
        display: block;
    }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 320px) {
 .small{
    display: block;
    }
}